{% extends "base.html" %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block title %}Campaigns{% endblock %}

{% block innercontent %}
    <h1>{{ campaign.name }}</h1>
    <div class="jumbotron">{{ campaign.description }}</div>
    <h2>Characters</h2>
    <div class="">
        {% for character in campaign.characters %}
        <div class="input-group ">
          <input type="text" class="form-control" readonly="readonly" aria-readonly="true" value="{{ character.name }} &ndash; {{ character.played_by.name }}">
          <div class="input-group-btn">
            <a class="btn btn-primary" href="{{ url_for('campaign_character_chat', campaign_id=campaign.id, character_id=character.id) }}">Chat as</a>
          </div>
        </div>
        {% endfor %}
    </div>
    {% if current_user.id == campaign.run_by.id %}
    <h2>Invitations</h2>
    {% for invitation in campaign.invitations %}
    <div class="input-group">
        <input type="text" class="form-control" value="{{ url_for('invitation', invitation_id=invitation.id, _external=True) }}" readonly="readonly" />
        <span class="input-group-btn">
            <button class="btn btn-default copy-input" type="button"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span> Copy</button>
        </span>
    </div>
    {% endfor %}
    <form action="{{ url_for('invitations', campaign_id=campaign.id) }}" method="post">
    <div class="list-group">
        <button class="list-group-item list-group-item-action list-group-item-primary" type="submit">Create</button>
    </div>
    </form>
    {% endif %}
{% endblock %}
{% block scripts %}
{{ super() }}

    <script type="text/javascript">
        $(document).on('click', 'button.copy-input', function(e) {
            var target = $(e.target).closest('.input-group').children('input').get(0);
            target.focus();
            target.setSelectionRange(0, target.value.length);
            succeed = document.execCommand("copy");
        });
    </script>
{% endblock %}