{% extends "base.html" %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block title %}Chat{% endblock %}

{% block innercontent %}
    {{render_pagination(messages)}}
    <div class="list-group">
    {% for message in messages.items|reverse %}
        <a href="#" class="list-group-item {% if loop.last %}active{% endif %}" data-sender-id="{{message.sender.id}}">
            {% if message.message_type_id == 0 %}
            <p><em>{{ message.sender.name or "" }} {{ message.content }}</em></p>
            {% else %}
            <h5 class="list-group-item-heading" >{{ message.sender.name or "The DM" }}</h5>
            <p class="list-group-item-text">{{ message.content }}</p>
            {% endif %}
        </a>
    {% endfor %}
    </div>
    <div>
        <form method="post">
            {{ new_message_form.csrf_token }}
            <div class="input-group">
                {{ new_message_form.content(class_="form-control") }}
                <div class="input-group-btn">
                {{ new_message_form.do(class_="btn btn-secondary") }}{{ new_message_form.say(class_="btn btn-primary") }}
                </div>
            </div>
        </form>
    </div>
    {{render_pagination(messages)}}

{% endblock %}